Repository Markimg22/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        prettier:
            glob: '*.{js,mjs,ts,tsx,json,yaml,yml,md}'
            run: pnpm exec prettier --write --ignore-unknown {staged_files}
            stage_fixed: true
        eslint:
            glob: '*.{js,mjs,ts,tsx}'
            run: pnpm exec eslint --fix {staged_files}
            stage_fixed: true

commit-msg:
    commands:
        commitlint:
            run: pnpm commitlint --edit {1}

chore(vitest-config): add shared Vitest configuration package
  packages/vitest-config/base.js
  packages/vitest-config/package.json
  packages/vitest-config/react-setup.js
  packages/vitest-config/react.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

chore: add vitest-config, ui package, remove prettier-config, add nx
  lefthook.yml
  nx.json
  package.json
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  packages/prettier-config/react.js
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/components.json
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/src/components/stepper/index.ts
  packages/ui/src/components/stepper/stepper.spec.tsx
  packages/ui/src/components/stepper/stepper.stories.tsx
  packages/ui/src/components/stepper/stepper.styles.ts
  packages/ui/src/components/stepper/stepper.tsx
  packages/ui/src/components/ui/button/button.stories.tsx
  packages/ui/src/components/ui/button/button.styles.ts
  packages/ui/src/components/ui/button/button.tsx
  packages/ui/src/components/ui/button/index.ts
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/styles/globals.css
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
  packages/ui/vitest.config.js
  packages/vitest-config/base.d.ts
  packages/vitest-config/package.json
  packages/vitest-config/react-setup.js
  packages/vitest-config/react.d.ts
  packages/vitest-config/react.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.mjs
Due: prettier, eslint

chore: add nx scripts, eslint-config types, ui coverage dep
  .gitignore
  package.json
  packages/eslint-config/base.d.ts
  packages/eslint-config/node.d.ts
  packages/eslint-config/package.json
  packages/eslint-config/react.d.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier, eslint

chore: add prettier config for ui, format scripts, zed formatter
  package.json
  packages/typescript-config/nextjs.json
  packages/typescript-config/node.json
  packages/typescript-config/react-library.json
  packages/ui/package.json
  packages/ui/prettier.config.mjs
Due: prettier, eslint

docs: update Readme
  README.md
Due: prettier

chore: add .next to .gitignore
  .gitignore
Due: none

chore: init project
  .gitignore
Due: none

docs: update Claude.md
  CLAUDE.md
Due: prettier

feat(web): add web app with shared UI theme integration
  .vscode/settings.json
  apps/.gitkeep
  apps/web/.gitignore
  apps/web/eslint.config.mjs
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/pnpm-workspace.yaml
  apps/web/postcss.config.mjs
  apps/web/prettier.config.mjs
  apps/web/public/favicon.ico
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/styles/globals.css
  apps/web/tsconfig.json
  nx.json
  packages/eslint-config/base.js
  packages/typescript-config/base.json
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
  packages/ui/src/styles/globals.css
  packages/ui/src/styles/theme.css
  packages/ui/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

chore: configure Tailwind class sorting and IntelliSense for utility functions
  .vscode/settings.json
  apps/web/package.json
  packages/ui/src/components/stepper/stepper.styles.ts
  packages/ui/src/components/ui/button/button.styles.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.mjs
Due: prettier, eslint

docs: update Readme.md and Claude.md
  CLAUDE.md
  README.md
Due: prettier

chore(ui): improve and correction build
  apps/web/src/app/page.tsx
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
  packages/ui/vite.config.ts
Due: prettier, eslint

docs: create Readme.md and Claude.md for all packages and apps.
  CLAUDE.md
  README.md
  apps/web/CLAUDE.md
  apps/web/README.md
  packages/eslint-config/CLAUDE.md
  packages/eslint-config/README.md
  packages/i18n/CLAUDE.md
  packages/i18n/README.md
  packages/i18n/src/index.spec.ts
  packages/typescript-config/CLAUDE.md
  packages/typescript-config/README.md
  packages/ui/CLAUDE.md
  packages/ui/README.md
  packages/vitest-config/CLAUDE.md
  packages/vitest-config/README.md
Due: prettier, eslint

chore(i18n): remove centralized i18n package and use app-specific strategies
  apps/web/package.json
  apps/web/src/app/page.tsx
  apps/web/src/hooks/useTranslation.ts
  packages/i18n/CLAUDE.md
  packages/i18n/README.md
  packages/i18n/eslint.config.mjs
  packages/i18n/package.json
  packages/i18n/src/index.spec.ts
  packages/i18n/src/index.ts
  packages/i18n/src/locales/en.json
  packages/i18n/src/locales/pt-BR.json
  packages/i18n/src/types.ts
  packages/i18n/tsconfig.build.json
  packages/i18n/tsconfig.json
  packages/i18n/vitest.config.js
  pnpm-lock.yaml
Due: prettier, eslint

docs: update Readme and Claude
  CLAUDE.md
  README.md
  apps/web/CLAUDE.md
  apps/web/README.md
  packages/eslint-config/CLAUDE.md
  packages/eslint-config/README.md
  packages/typescript-config/CLAUDE.md
  packages/typescript-config/README.md
  packages/ui/CLAUDE.md
  packages/vitest-config/CLAUDE.md
  packages/vitest-config/README.md
Due: prettier
